 .u-section-1 {
  background-image: url("images/gradient.png");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-image-1 {
  object-position: 50% 1.62%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 898px;
  margin: 60px auto 60px 106px;
}

.u-section-2 .u-image-1 {
  min-height: 417px;
  background-image: linear-gradient(0deg, rgba(21,166,171,0.25), rgba(21,166,171,0.25)), url("images/group1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-family: MonumentExtended-Light;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-2 .u-image-2 {
  min-height: 417px;
  background-image: linear-gradient(0deg, rgba(117,184,28,0.2), rgba(117,184,28,0.2)), url("images/backofshirt.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  font-family: MonumentExtended-Light;
  font-size: 3.75rem;
  margin: 134px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-left: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 334px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-2 {
    min-height: 334px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 99px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 501px;
  }

  .u-section-2 .u-image-2 {
    min-height: 501px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 294px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 312px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }
} .u-section-3 {
  background-image: url("images/gradient.png");
  background-position: 50% 100%;
}

.u-section-3 .u-image-1 {
  min-height: 690px;
  background-image: url("images/weed.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    min-height: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 429px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 207px;
  }
}@font-face {
  font-family: 'MonumentExtended-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MonumentExtended-Light.ttf);
}@font-face {
  font-family: 'MonumentExtended-Ultralight';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MonumentExtended-Ultralight.ttf);
}