 .u-section-1 {
  background-image: url("images/gradient.png");
  background-position: 50% 0%;
  min-height: 500px;
}

.u-section-1 .u-image-1 {
  width: 1239px;
  height: 500px;
  margin: 3px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 453px;
  }

  .u-section-1 .u-image-1 {
    height: 450px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 350px;
  }

  .u-section-1 .u-image-1 {
    height: 345px;
    margin-bottom: 2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 353px;
  }

  .u-section-1 .u-image-1 {
    height: 350px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 350px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 898px;
  margin: 132px auto 60px;
}

.u-section-2 .u-image-1 {
  min-height: 417px;
  background-image: linear-gradient(0deg, rgba(21,166,171,0.25), rgba(21,166,171,0.25)), url("images/group1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-family: MonumentExtended-Light;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-2 {
  min-height: 417px;
  background-image: linear-gradient(0deg, rgba(117,184,28,0.2), rgba(117,184,28,0.2)), url("images/backofshirt.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  font-family: MonumentExtended-Light;
  font-size: 3.75rem;
  margin: 134px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 99px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 334px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-2 {
    min-height: 334px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 99px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 501px;
  }

  .u-section-2 .u-image-2 {
    min-height: 501px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-image-1 {
    min-height: 371px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 371px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }
} .u-section-3 {
  background-image: url("images/gradient.png");
  background-position: 50% 100%;
  min-height: 500px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 450px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 300px;
  }
}@font-face {
  font-family: 'MonumentExtended-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MonumentExtended-Light.ttf);
}@font-face {
  font-family: 'MonumentExtended-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MonumentExtended-Regular.ttf);
}