 .u-section-1 {
  background-image: url("images/Asset6.png");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-family: MonumentExtended-Regular;
  font-size: 6rem;
  text-transform: uppercase;
  margin: 225px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 445px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    font-family: MonumentExtended-Light;
    margin-top: 135px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 851px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 617px;
  margin: 108px auto 0 29px;
}

.u-section-2 .u-image-1 {
  min-height: 548px;
  background-image: url("images/lowkin3.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 274px;
  background-image: url("images/lowkin2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 274px;
  background-image: url("images/lowkin4.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 10px 30px;
}

.u-section-2 .u-text-1 {
  font-family: MonumentExtended-Ultralight;
  text-transform: none;
  margin: -448px 9px 0 675px;
}

.u-section-2 .u-image-4 {
  width: 535px;
  height: 153px;
  margin: 52px 35px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-family: MonumentExtended-Ultralight;
  margin: -153px 623px 28px 96px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-top: -180px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 484px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 519px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2493px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1096px;
  }

  .u-section-2 .u-image-2 {
    min-height: 548px;
  }

  .u-section-2 .u-image-3 {
    min-height: 548px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 264px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 299px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2233px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -157px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 959px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 480px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 480px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 84px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 119px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1454px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 525px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 0%;
    min-height: 325px;
  }

  .u-section-2 .u-image-2 {
    min-height: 162px;
  }

  .u-section-2 .u-image-3 {
    min-height: 162px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -916px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    height: 97px;
    margin-top: 805px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -326px;
    margin-right: 0;
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: url("images/gradient.png");
  background-position: 50% 0%;
}

.u-section-3 .u-image-1 {
  min-height: 448px;
  background-image: url("images/cluds.png");
  background-position: 50% 4.84%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    min-height: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 133px;
  }
}writing-mode: vertical-rl;@font-face {
  font-family: 'MonumentExtended-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MonumentExtended-Regular.ttf);
}@font-face {
  font-family: 'MonumentExtended-Ultralight';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MonumentExtended-Ultralight.ttf);
}@font-face {
  font-family: 'MonumentExtended-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MonumentExtended-Light.ttf);
}